* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: #363232;
  --secondary-text-color: #7a7474;
  --theme-color: #eebe00;
  --base-color: #ededed;
  --error-color: #e60023;
}

body {
  font-family: "Urbanist", sans-serif;
}

a {
  text-decoration: none;
}

.main-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
  /* border: 1px solid red; */
}

.t-center {
  text-align: center;
}


.blaze-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
}

.blaze-pagination button.active {
  color: #0000;
  width: 1.625rem;
  height: 0.26rem;
  background-color: var(--theme-color);
  border: none;
  border-radius: 200px;
}
.blaze-pagination button {
  color: #0000;
  width: 6px;
  height: 6px;
  background-color: var(--base-color);
  border-radius: 6px;
  border: none;
}

.blaze-next,
.blaze-prev {
  height: 1.25rem;
  width: 1.25rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}


/* slider başında ve  sonunda yön tuşlarını aktif etme */ 

.blaze-slider.start .blaze-prev {
  background-image: url("https://raw.githubusercontent.com/yusufyunuskaymaz/casee/main/assets/images/prevbtn.png");
  border: 1px solid var(--base-color);
}
.blaze-slider:not(.start) .blaze-prev {
  background-image: url("https://raw.githubusercontent.com/yusufyunuskaymaz/casee/main/assets/images/nextbtn.png");
  border: 1px solid var(--theme-color);
  transform: rotate(180deg);
}

.blaze-slider.end .blaze-next {
  background-image: url("https://raw.githubusercontent.com/yusufyunuskaymaz/casee/main/assets/images/prevbtn.png");
  border: 1px solid var(--base-color);
  transform: rotate(180deg);
}
.blaze-slider:not(.end) .blaze-next {
  background-image: url("https://raw.githubusercontent.com/yusufyunuskaymaz/casee/main/assets/images/nextbtn.png");
  border: 1px solid var(--theme-color);
  /* transform: rotate(180deg); */
}



.blaze-next {
  background-image: url("https://raw.githubusercontent.com/yusufyunuskaymaz/casee/main/assets/images/nextbtn.png");
  border: 1px solid var(--theme-color);
}



.category {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  color: var(--secondary-text-color);
  font-weight: 700;
}

.category .category-item {
  border-bottom: 2px solid var(--base-color);
  padding: 0.5rem;
  cursor: pointer;
}

.category .selected {
  color: var(--main-text-color);
  border-bottom: 2px solid var(--theme-color);
}

.category span{
  display: inline-block ;
}

.main-title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 2rem;
}

.card {
  display: flex;
  gap: 0.5rem;
  border: 1px solid var(--base-color);
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  margin-bottom: 1rem;
  transition: box-shadow 0.5s ease, border-color 0.5s ease;
}

.card img {
  float: left;
  max-width: 224px;
  max-height: 224px;
  object-fit: cover;
  width: 100%;
}

.card img:nth-child(2){
  transform: scale(1.07);
}

.card:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-color: var(--theme-color);
}

.card .brand-name {
  color: var(--main-text-color);
  font-weight: 700;
}

.card .description {
  color: var(--main-text-color);
  font-weight: 500;
}

.card .discount {
  text-decoration: none;
  color: var(--error-color);
  font-weight: 700;
  border: 1px solid var(--error-color);
  padding: 0.4rem;
  border-radius: 5px;
  font-size: 0.875rem;
}

.card .old-price {
  color: var(--secondary-text-color);
  text-decoration: line-through;
  font-size: 0.875rem;
  font-weight: 500;
}

.card .new-price {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--main-text-color);
}

.my-structure {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.card a {
  position: relative;
  display: block; /* Resimlerin üzerine rahatça hover yapabilmek için linki blok olarak ayarlıyoruz */
}

.card img#secondImg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.card a:hover img#firstImg {
  opacity: 0;
}

.card a:hover img#secondImg {
  opacity: 1;
}

.outOfStock {
  font-family: 'Inter', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-text-color);
  color: #fff;
  padding: 0.5rem 1.15rem;
  font-weight: 700;
  pointer-events: none;
}


.bookmarkDiv{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: .5rem;
}
.bookmarkRibbon,
.bookmarkRibbon2 {
  width: 48px;
  height: 40px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    50% calc(100% - 12px),
    0% 100%,
    0% 0%
  );
  color: #fff;
  font-weight: 700;
  font-size: 0.875rem;
  padding-top: 0.3rem;
  margin-top: -1rem;
  pointer-events:none;
  z-index: 1;

}
.bookmarkRibbon {
  width: 48px;
  background: var(--theme-color);
}
.bookmarkRibbon2 {
  width: 72px;
  background-color: #8D95C9;
}



/* Fix Layout shifts - İlk yüklenmede diğer ekran boyutarındaki default slider şekline göre şekil almaması için */

.foo-slider.blaze-slider {
  --slides-to-show: 4;
}

@media (max-width: 500px) {
  .foo-slider.blaze-slider {
    --slides-to-show: 1;
  }
  .category{
    gap: 1rem;
  }
}
