* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: #363232;
  --secondary-text-color: #7a7474;
  --theme-color: #eebe00;
  --base-color: #ededed;
  --error-color: #e60023;
}

body {
  font-family: "Urbanist", sans-serif;
}

a {
  text-decoration: none;
}

.main-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
  /* border: 1px solid red; */
}

.t-center {
  text-align: center;
}

.foo-slider.blaze-slider {
  --slides-to-show: 4;
}

@media (max-width: 500px) {
  .foo-slider.blaze-slider {
    --slides-to-show: 1;
  }
}

.blaze-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.blaze-pagination button.active {
  color: #0000;
  width: 1.625rem;
  height: 0.26rem;
  background-color: var(--theme-color);
  border: none;
  border-radius: 200px;
}
.blaze-pagination button {
  color: #0000;
  width: 6px;
  height: 6px;
  background-color: gray;
  border-radius: 6px;
  border: none;
}

.blaze-next,
.blaze-prev {
  height: 1.25rem;
  width: 1.25rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.blaze-next {
  background-image: url("./assets/images/nextbtn.png");
  border: 1px solid var(--theme-color);
}

.blaze-prev {
  background-image: url("./assets/images/prevbtn.png");
  border: 1px solid var(--base-color);
}

.category {
  gap: 1rem;
}

.category {
  color: var(--secondary-text-color);
  font-weight: 700;
}

.category .category-item {
  border-bottom: 2px solid var(--base-color);
  padding: 0.5rem;
  cursor: pointer;
}

.category .selected {
  color: var(--main-text-color);
  border-bottom: 2px solid var(--theme-color);
}

.main-title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 2rem;
}



.card {
  display: flex;
  gap: 0.5rem;
  border: 1px solid var(--base-color);
  border-radius: 0.5rem;
  padding: 1rem;
}

.card img {
  max-width: 100%;
  width: 224px;
  height: 224px;
}

.card .brand-name {
  color: var(--main-text-color);
  font-weight: 700;
}

.card .description {
  color: var(--main-text-color);
  font-weight: 500;
}

.card .discount {
  text-decoration: none;
  color: var(--error-color);
  font-weight: 700;
  border: 1px solid var(--error-color);
  padding: 0.4rem;
  border-radius: 5px;
  font-size: 0.875rem;
}

.card .old-price {
  color: var(--secondary-text-color);
  text-decoration: line-through;
  font-size: 0.875rem;
  font-weight: 500;
}

.card .new-price {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--main-text-color);
}

.my-structure {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}



.card img#secondImg {
  display: none;  
}

.card img#firstImg:hover + img#secondImg {
  display: block;  
}

.card img#firstImg:hover {
  display: none;  
}

